.contentWrapper {
    width: 100%;
}

.dataContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    border-radius: var(--size-s);
    box-shadow: var(--shadow);
    padding: 1rem;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--color-dominant);
}

.dataWrapper {
    position: relative;
    padding-top: calc(var(--header-height) + var(--size-m));
    width: var(--content-width);
    max-width: var(--content-max-width);
    display: grid;
    gap: var(--size-m);
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto;
}

@media screen and (max-width: 1023px) {
    .dataWrapper {
        display: grid;
        gap: var(--size-m);
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .content {
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }

}