@media only screen and (min-width: 800px) {
    .LineChart {
        max-width: 100%;
        display: block;
        box-sizing: border-box;
    }
}

.tooltip {
    padding: 10px;
    outline: none !important;
    border: none !important;
    background-color: #EEE;
    tab-index: -1;
    border-radius: 5px;
}

.tooltip > p {
    font-weight: 600;
    margin: 0;
}