.suggestionBlock {
    border-radius: var(--size-s);
    box-shadow: var(--shadow);
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--color-accent-500);
    z-index: var(--z-index-xl);
    padding: var(--size-l);
}

.suggestions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: var(--size-l);
    align-items: center;
}

.suggestions > p {
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    background-color: var(--color-dominant);
    padding: var(--size-s);
    text-align: center;
    height: var(--size-xxl);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--size-m);
    font-family: 'Roboto', sans-serif;
    border-radius: var(--size-xs);
    transition: .3s all;
}

.suggestions > p:hover {
    background-color: var(--color-success);
    box-shadow: var(--shadow);
}

@media screen and (max-width: 799px) {
    .suggestions {
        grid-template-columns: 1fr;
    }
}