.cls1 {
    fill: #181918;
}

.cls1, .cls2 {
    fill: #89FF7E;
}

.cls1:hover {
    opacity: 0.4;
}

.tooltip {
    padding: 10px;
    outline: none !important;
    border: none !important;
    background-color: #EEE;
    tab-index: -1;
    border-radius: 5px;
}

.tooltip > p {
    font-weight: 600;
    margin: 0;
}