@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
    text-align: center;
    height: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.Header {
    font-family: 'Roboto', sans-serif;
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(100% - 4rem);
}

.RedBack {
    background-color: red;
    color: white;
    width: 40px;
    border-radius: 5px;
    height: 30px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    margin-left: 3px;
}

.MenuButton {
    z-index: 20;
    display: block;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: black;
    border: 0 solid;
    -webkit-appearance: button !important;
    line-height: 2rem;
    border-image: none;
    font-size: 1em;
    outline-offset: 0;
    outline: black;
    width: 12rem;
    text-align: left;
    border-radius: 0.3rem;
    box-shadow: none;
    margin-bottom: 0.3rem;
}

.MenuHeader {
    font-family: 'Roboto', sans-serif;
}

.BadButton:hover {
    background-color: #CD5C5C;
    color: #fff;
}

.BadButton:focus {
    background-color: #CD5C5C;
    color: #fff;
}

.GoodButton:hover {
    background-color: #00F067;
}

.GoodButton:focus {
    background-color: #00F067;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

.SearchButton {
    z-index: 20;
    display: inline;
    background-color: #eee;
    color: black;
    border: 0 solid;
    -webkit-appearance: button !important;
    font-family: 'Roboto', sans-serif;

    line-height: 3rem;
    border-image: none;
    font-size: 1.4em;
    outline-offset: 0;
    outline: black;
    text-align: center;
    border-radius: 0.3rem;
    box-shadow: none;
    margin-bottom: 0.3rem;
}

.SearchButton:disabled {
    color: #aaa;
}

.MapToolTip {
    border: 1px solid rgb(204, 204, 204);
    position: absolute;
    transition: 500ms ease-out;
    background-color: white;
    pointer-events: none;
    padding: 10px;
}

.RegionInput {
    height: 3rem;
    margin-right: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 1.4em;
    background-color: #eee;
    padding-left: 0.4rem;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.InputForm {
    margin-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.RegionSuggestions > p {
    background-color: #fff;
    width: calc(21% - 0.2rem);
    padding: 0.1rem;
    border-radius: 1rem;
    text-align: center;
    height: 6rem;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
}

.RegionSuggestions > p:hover {
    background-color: #00F067;
}

.CloseButton {
    position: absolute;
    background-color: transparent;
    right: 1rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 50%;

}

.CloseButton:hover {
    background-color: #ddd;
}

.close-x {
    stroke: black;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 5;
}


.RegionSuggestionBlock {
    position: relative;
    width: 100%;
    background-color: #eee;
    padding-top: 3rem;
    border-radius: 2rem;
}

.RegionSuggestions {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}


.DiagramContainer {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px #dadada;
    padding: 1rem;
    background-color: #fafafa;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@media only screen and (min-width: 800px) {
    .DiagramContainer {
    }

    .BarChart {
        margin-left: auto;
        margin-right: auto;
    }

    text {
        color: blue;
    }

    .Diagrams {
        position: absolute;
        top: 4rem;
        left: 15rem;
        width: calc(100% - 30rem);
    }

    .Menu {
        position: absolute;
        left: 1.5rem;
        top: 4rem
    }
}

@media screen and (max-width: 799px) {
    .Header {
        text-align: center;
        margin-bottom: 0;
    }

    .Header > h1 {
        margin-bottom: 0;
    }

    .MenuButton {
        display: block;
        background-color: #eee;
        line-height: 1.6rem;
        width: 90%;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    .Menu {
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        justify-content: space-around;
    }

    .MenuHeader {
        line-height: 1rem;
        display: block;
        text-align: center;
    }

    .Diagrams {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .InputForm {
        justify-content: center;
    }

    .RegionInput {
        width: 77%;
    }

    .MapToolTip {
        position: absolute;
        padding-top: 0;
        padding-left: 1rem;
    }

    .MapToolTip > h4 {
        margin-bottom: 0.3rem;
    }

    .MapToolTip > p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .RegionSuggestionBlock {
        border-radius: 0.3rem;
    }

    .RegionSuggestions {
        flex-direction: column;
    }

    .RegionSuggestions > p {
        width: auto;
        padding: 0.6rem 0.2rem;
        height: auto;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
    }
}

