.App {
    text-align: center;
    height: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.Header {
    font-family: 'Open Sans', sans-serif;
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(100% - 4rem);
}

.RedBack {
    background-color: red;
    color: white;
    width: 40px;
    border-radius: 5px;
    height: 30px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    margin-left: 3px;
}

.MenuButton {
    z-index: 20;
    display: block;
    background-color: transparent;
    color: black;
    border: 0 solid;
    -webkit-appearance: button !important;
    line-height: 2rem;
    border-image: none;
    font-size: 1em;
    outline-offset: 0;
    outline: black;
    width: 12rem;
    text-align: left;
    border-radius: 0.3rem;
    box-shadow: none;
    margin-bottom: 0.3rem;
}

.BadButton:hover {
    background-color: #ff7a66;
}

.BadButton:focus {
    background-color: #ff7a66;
}

.GoodButton:hover {
    background-color: #0fff83;
}

.GoodButton:focus {
    background-color: #0fff83;
}

.SearchButton {
    z-index: 20;
    display: inline;
    background-color: #eee;
    color: black;
    border: 0 solid;
    -webkit-appearance: button !important;
    line-height: 3rem;
    border-image: none;
    font-size: 1.4em;
    outline-offset: 0;
    outline: black;
    text-align: center;
    border-radius: 0.3rem;
    box-shadow: none;
    margin-bottom: 0.3rem;
}

.SearchButton:disabled {
    color: #aaa;
}

.RegionInput {
    height: 3rem;
    margin-right: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 1.4em;
    background-color: #eee;
    padding-left: 0.4rem;
    outline: none;
}

.InputForm {
    margin-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 800px) {
    .DiagramContainer {
        width: 80%;
    }

    .BarChart {
        margin-left: auto;
        margin-right: auto;
    }

    text {
        color: blue;
    }

    .Diagrams {
        position: absolute;
        top: 4rem;
        left: 15rem;
        width: calc(100% - 30rem);
    }

    .Menu {
        position: absolute;
        left: 1.5rem;
        top: 4rem
    }
}

@media screen and (max-width: 799px) {
    .Header {
        text-align: center;
        margin-bottom: 0;
    }

    .Header > h1 {
        margin-bottom: 0;
    }

    .MenuButton {
        display: block;
        background-color: #fef;
        line-height: 1.6rem;
        width: 90%;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    .Menu {
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        justify-content: space-around;
    }

    .MenuHeader {
        line-height: 1rem;
        display: block;
        text-align: center;
    }

    .Diagrams {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .InputForm {
        justify-content: center;
    }

    .RegionInput {
        width: 77%;
    }
}

.MapToolTip {
    position: absolute;
    padding: 2rem;
}

