body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --header-height: 60px;
  --size-m: 20px;
  --content-width: 90vw;
  --content-max-width: 1400px;
  --font-family-h: 'Roboto', sans-serif;
  --font-family-t: 'Roboto', sans-serif;

  --font-size-l: 24px;
  --font-size-m: 16px;

  --z-index-xxxl: 5;
  --z-index-xxl: 4;
  --z-index-xl: 3;
  --z-index-l: 2;
  --z-index-m: 1;
  --z-index-s: 0;

  margin: 0;
}
