@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: var(--color-dominant);
}

html {
  background-color: var(--color-dominant);
}

p, span, div {
  font-family: var(--font-family-t);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-h);
}

body::-webkit-scrollbar {
  width: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --header-height: 60px;
  --size-xxl: 50px;
  --size-xl: 40px;
  --size-l: 30px;
  --size-m: 20px;
  --size-s: 10px;
  --size-xs: 5px;


  --content-width: 90vw;
  --content-max-width: 1400px;
  --font-family-h: 'Roboto', sans-serif;
  --font-family-t: 'Roboto', sans-serif;

  --font-size-xl: 28px;
  --font-size-l: 24px;
  --font-size-m: 16px;

  --z-index-xxxl: 5;
  --z-index-xxl: 4;
  --z-index-xl: 3;
  --z-index-l: 2;
  --z-index-m: 1;
  --z-index-s: 0;

  --color-dominant: #FFF;
  --color-secondary: #000;
  --color-accent-300: #BBB;
  --color-accent-500: #DDD;
  --color-accent-700: #DADADA;

  --color-danger: #CD5C5C;
  --color-success: #00F067;

  --shadow: 0 0 10px 3px var(--color-accent-700);

  margin: 0;
}


h2 {
  font-size: var(--font-size-xl);
}

p {
  margin-top: var(--size-xs);
  margin-bottom: var(--size-xs);
}