.searchContainer {
    width: 100%;
    z-index: 31;
    position: relative;
}

.blur {
    z-index: 30;
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    transition: all .2s;
}

.noBlur {
    backdrop-filter: blur(0);
    transform: scale(0);
}

.inputContainer {
    box-shadow: 0 0 10px 3px #dadada;

    background-color: #DDD;
    border-radius: 10px;

    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.input {
    z-index: 4;
    border-radius: 10px;

    text-transform: capitalize;
    width: 100%;
    height: 3rem;
    font-size: 1.4em;
    background-color: transparent;
    padding: 0.2rem 10px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: .3s border;
}

.suggestion {
    text-transform: capitalize;

    position: absolute;
    left: 0;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    height: 3rem;
    display: flex;
    align-items: center;
    color: transparent;
    padding-left: 10px;
    border: 2px solid transparent;
}

.suggestion > span {
    text-transform: none;
    color: #BBB;
}

.button {
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 20;
    display: inline;
    color: black;
    border: 0 solid;
    font-family: 'Roboto', sans-serif;
    height: 3rem;
    font-size: 1.4em;
    text-align: center;
    border-radius: 10px;
    padding-right: 10px;
    background-color: transparent;
    transition: all .3s;
}

.button:disabled {
    color: #aaa;
}

.button:hover {
    text-decoration: underline;
}


@media screen and (max-width: 799px) {
    .input {
        width: 60vw;
    }
}